/* Style cho bảng */
.container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  table {
    width: 90%;
    border-collapse: collapse;
    margin: 5px 50px 50px 50px;
  }
  
  /* Style cho header của bảng */
  th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style cho các ô dữ liệu */
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Style cho các ô dữ liệu ở hàng chẵn */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  